body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: url('https://asset-a.grid.id/crop/0x0:0x0/x/photo/2023/07/24/letusan-tamborajpg-20230724102207.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 12px;
}

.button-container {
    margin-top: 20px;
}

.btn {
    background-color: #ff4545;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #21a1f1;
}
